@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0b0c0d;
    --foreground: #fff;
    --bg-secondary: #161618;
    --bg-tertiary: #1c1c1f;
    --bg-quaternary: #232326;
    --bg-quinary: #28282c;
    --border: #23252a;
    --border-s: #292b30;
    --border-t: #2c2e33;
    --text-primary: #fff;
    --text-secondary: #e3e4e6;
    --text-tertiary: #969799;
    --text-quaternary: #595a5c;
    --link-primary: #7281ff;
    --brand-bg: #5e69d1;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --input: #232326;

    --ring: 217.22, 91.22%, 59.8%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground h-screen font-sans antialiased overflow-hidden;
  }
  h1 {
    @apply text-xl font-semibold;
  }
}

.snippet {
  @apply text-xs border rounded-sm overflow-hidden;
}
.snippet pre {
  @apply !p-3;
}
